# created by virtualenv automatically
venv
.db.sqlite3
*/*.pyc
*/*/*.pyc
*/migrations/*
# ./src/static/*
/__pycache__
src/shop/__pycache__/settings.settings.cpython-311.pyc
# */static/
.DS_Store
.env
**/.DS_Store